Package: poly-archive-keyring
Version: 1.0.0
Architecture: all
Maintainer: OpenPolycom <apt@openpolycom.cc>
Installed-Size: 9
Section: misc
Priority: optional
Description: OpenPolycom apt archive signing keyring
 GPG keyring for the OpenPolycom package repository
 (https://github.com/Polycom-Open-Firmware). Installs the archive signing
 key to /usr/share/keyrings for sources.list signed-by use.
